# Agent config
AGENT_HOST=0.0.0.0
AGENT_PORT=7001
AGENT_DISK_PATH=./tmp
AGENT_ID=home-agent
HUB_URL=http://<hub_host_addr>:8001

# HUB config
HUB_URL=0.0.0.0
HUB_PORT=8001
HUB_API_KEY=<api-key>
HUB_STALE_SECS=8